.navbar-brand {
    margin-left: 50%;
    font-size: 185%;
}
.navbar
{
    background-color:#007BFF;


}
.searchContainer
{
  
}
.h1
{
    margin-left: 50%;
}
.p
{
    text-align: center;
}
.pbc
{
    background-color:#007BFF;
}
#dp
{
    width:300px; 
    height:300px;
    margin-bottom: 20px;
}

.card-body
{
    margin-left: 30%;
}
.card-header
{
    text-transform: uppercase;
    text-align: center;
}

.modal{
    display: none; /* Hidden by default */
    /* position: relative; Stay in place */
    z-index: 1; /* Sit on top */
    width: 60%; /* Full width */
    height: 70%; /* Full height */
    overflow: scroll; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .modal-header {
   margin-right: 50%;
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }