.navbar-brand {
    color: #fefefe;
    font-size: 30px !important;
    
}
.type
{
  margin-left: 36%;
  color:red;
 
}
h2.type{
  font-weight: 700;
  font-size: 3.5rem;
}
body
{
  background-image: linear-gradient(#007BFF);
}

.navbar
{
    background-color:#007BFF;
    position: fixed;

}
.lead 
{
  text-align: center;
}
/* 
.searchbar
{
  width: 30%;
  align-items: center;
  
} */
.h1
{
    margin-left: 50%;
}
.p
{
    text-align: center;
}
.pbc
{
    background-color:#007BFF;
}
.badges
{
  margin-left: 1.5em;
}
.list-group
{
  margin-left: 2em;
}
.type
{
  display: inline;
  color:red;
  font-size: 100%;
  /* margin-left: 30%; */   
}
#dp
{
    width:300px; 
    height:300px;
    margin-bottom: 20px;
}

.card-body
{
    margin-left: 30%;
}
.card-header
{
  margin-top: 2em;
    text-transform: uppercase;
    text-align: center;
}
#con
{
margin-right:30%;
 margin-top:5px;
}

.modal{
  background-color: rgba(0,0,0,0.8); 
  margin-top: 10%;
  margin-bottom: 10%;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
  overflow-y: auto;
  transition: 0.5s;
  display: none;
 
    /* Enable scroll if needed */
   
  /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    
    border: 1px solid #888;
   
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    overflow-y: auto;
    width: 250px;
    height: 500px;
  
    
  }
  
   Add Animation
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
   
  /* The Close Button */
  .close {
    float: right;
    color: white;
    font-size: 88px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
   
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
 
  h1{
    text-align: center;
  }
 
 #baar
 {
   margin-left: 40%;
   

 }
  div.example input[type=text] {
    
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    width: 300px;
    background: #f1f1f1;
  }
  
  div.example button {
    width: 60px;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  div.example button:hover {
    background: #0b7dda;
  }
  

  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }

  /* @media screen and (max-width: 400px) {
    body {
      padding-top: 5rem ;
      padding-bottom: 5rem;
      max-width: 50rem;
    }
    .searchbar
  {
  width: 20%;
  align-items: center;
  
  }
  } */

